
body {
  background-color: rgb(70, 70, 70);
  color: rgb(240, 240, 240);
}

/* h1 {
  color: rgb(141, 71, 255);
} */

h2 {
  color: #b36ade;
}

.card {
  background-color: rgb(36, 36, 36);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
}

.social-icon {
  color: rgb(240, 240, 240);
}

#moon {
  display:none;
}

.btn-blue {
  background-color: #f5586a;
}

.btn-blue:hover {
  background-color: #db4d5d;
}

a:hover {
  color: #db4d5d;
}
