
body {
  background-color: rgb(240, 240, 240);
  color: rgb(36, 36, 36);
}

h2 {
  color: #134c92;
}

.card {
  background-color: rgb(250, 250, 250);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);;
}

.social-icon {
  color: rgb(200, 200, 200);
}

#sun {
  display:none;
}

.btn-blue {
  background-color: #740da3;
}

.btn-blue:hover {
  background-color: #5a0d7e;
}

a:hover {
  color: #5a0d7e;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  width: 100%;
  background: linear-gradient(-70deg, rgb(116, 13, 163) 40%, rgb(1, 88, 143) 80%);
  height: 0%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
