@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2 {
  font-family: 'Inter', sans-serif;
  line-height: 2;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.profile-pic {
  width: 200px
}

.img-circle {
  border-radius: 50%;
}

.container {
  width: 700px;
  margin: 40px auto;
}

.card {
  padding: 40px;
  margin: 24px 0px;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}

.btn-blue {
  color: rgb(240, 240, 240);
  padding: 12px 24px;
  border-radius: 4px;
}

.btn-blue:hover {
  color: rgb(240, 240, 240);
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-icon {
  font-size: 32px;
  margin: 8px 24px;
}

.theme-container {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
}

.text-gradient-purple-coral {
  background: -webkit-linear-gradient(-70deg, #a16fff 20%, #ff5557 80%);
  /* background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%); */
  background: linear-gradient(-70deg, #a16fff 20%, #ff5557 80%);
  /* background-clip: border-box; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.text-gradient-purple-turquoise {
  background: -webkit-linear-gradient(-70deg, rgb(116, 13, 163) 40%, rgb(1, 88, 143) 80%);
  /* background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%); */
  background: linear-gradient(-70deg, rgb(116, 13, 163) 40%, rgb(1, 88, 143) 80%);
  /* background-clip: border-box; */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.emoji {
  -webkit-text-fill-color: initial;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
